<!DOCTYPE html>
<html lang="en">

<head style="color: white; text-align: center" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    &nbsp <a href="https://ae01.alicdn.com/kf/HTB1ZhqrRXXXXXbBXFXXq6xXFXXXO/hello-kitty.jpg" target="_blank">Add  and rank pets :)</a>  &nbsp <a href="/pets/pets/">Pets</a> &nbsp <a href="/pets/species/">Species</a>
</head>

<body style="background: pink; color: white; text-align: center">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</body>

 <style>
   BODY {
    background: pink;
   }
   A {
    color: gray; /* Цвет ссылок */
   }
   A:visited {
    color: whitesmoke; /* Цвет посещенных ссылок */
   }
   A:active {
    color: white; /* Цвет активных ссылок */
   }
  </style>

</html>