<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructors</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/main.js"></script>

    </head>
    <body>
        <div class="header" id="myHeader" style="clear: both">
            <h3 style="display: inline-block"><a href="{{ url_for('instructors') }}" style="text-decoration: none;">Преподаватели</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('subjects') }}" style="text-decoration: none;">Предметы</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('tasks') }}" style="text-decoration: none;">Задания</a></h3>
        </div>

        <div>
              <table class="table table-bordered">
              <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>ISU</th>
                    <th>Email</th>
                    <th>Telegram</th>
                </tr>
              </thead>
              <tbody>
                {% for instructor in instructors_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="instructors/{{ instructor.id }}">{{ instructor.name or '-' }}</a></td>
                    {% if instructor.isu %}
                        <td><a href="{{ instructor.isu }}">{{ 'ссылка' }}</a></td>
                    {% else %}
                        <td>{{ 'ссылка отсутствует' }}</td>
                    {%endif %}
                    <td>{{ instructor.email or '-' }}</td>
                    <td>{{ instructor.telegram or '-' }}</td>
                </tr>
            {% endfor %}
              </tbody>
              </table>

        </div>

        <form
                action="{{ url_for('add_instructor') }}">
                <input type="submit" value="Добавить">
        </form>
<!--        <div>-->
<!--            <form method="get"-->
<!--                action="{{ url_for('add_instructor') }}">-->
<!--                <input type="submit" class="btn btn-primary" value="Добавить">-->
<!--            </form>-->
<!--        </div>-->
    </body>
</html>