<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructors</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/main.js"></script>

    </head>
    <body>
        <div class="header" id="myHeader" style="clear: both">
            <h3 style="display: inline-block"><a href="{{ url_for('instructors') }}" style="text-decoration: none;">Преподаватели</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('subjects') }}" style="text-decoration: none;">Предметы</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('tasks') }}" style="text-decoration: none;">Задания</a></h3>
        </div>
        <h1>Предметы</h1>
        <table class="table table-bordered">
            <tr>
                <th>№</th>
                <th>Название предмета</th>
                <th>Таблица с баллами</th>
            </tr>
            {% for subject in subjects_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="subjects/{{ subject.id }}">{{ subject.name }}</a></td>
                    {% if subject.assessment_table %}
                        <td><a href="{{ subject.assessment_table }}">{{ 'ссылка' }}</a></td>
                    {% else %}
                        <td>{{ 'ссылка отсутствует' }}</td>
                    {%endif %}
                </tr>
            {% endfor %}
        </table>

        <form
                action="{{ url_for('add_subject') }}">
                <input type="submit" value="Добавить">
        </form>

    </body>
</html>