<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructors</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/main.js"></script>

    </head>
    <body>
        <div class="header" id="myHeader" style="clear: both">
            <h3 style="display: inline-block"><a href="{{ url_for('instructors') }}" style="text-decoration: none;">Преподаватели</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('subjects') }}" style="text-decoration: none;">Предметы</a></h3>
            <h3 style="display: inline-block"><a href="{{ url_for('tasks') }}" style="text-decoration: none;">Задания</a></h3>
        </div>

        <p>Предмет: <a href="{{ url_for('subjects') }}/{{ subject.id }}">
                        {{ subject.name }}</a></p>

        <p>Название работы: {{ task.name }}</p>
        <p>Дедлайн: {{ task.deadline }}</p>
        <p>Описание: {{ task.description or '-' }}</p>
        <p>Статус выполнения: {{ task.status }}</p>
        <p>Комментарий: {{ task.note or '-' }}</p>

        <form
                action="{{ url_for('delete_task', task_id = task.id) }}"
                method="post"
                onsubmit="return confirm('Вы уверены, что хотите удалить?');">
                <input type="submit" value="Удалить">
        </form>

        <form
                action="{{ url_for('edit_task', task_id = task.id) }}">
                <input type="submit" value="Редактировать">
        </form>

    </body>
</html>