<footer id="footer" class="footer" role="contentinfo">

    <section class="copyright">
        &copy; <span id="year"></span> Copyright <strong><span>Database CRUD</span></strong>. All Rights Reserved
    </section>

    <section class="credits">
        Designed by <a href="https://t.me/Hate1Killa" target="_blank" rel="noopener noreferrer">Malaev Stepan</a>
    </section>

</footer>