<header id="header" class="header fixed-top d-flex align-items-center" role="banner">
    <div class="d-flex align-items-center justify-content-between">

        <div class="logo-container">
            <a href="{{ url_for('main.index') }}" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">Database CRUD</span>
            </a>
        </div>

        <div class="sidebar-toggle-container">
            <i class="bi bi-list toggle-sidebar-btn" aria-hidden="true"></i>
        </div>

    </div>
</header>