<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympiads</title>
    &nbsp <a href="https://upwego.ru" target="_blank">Upwego</a> &nbsp <a href="/main">Main</a> &nbsp <a href="/base/olympiads/all">Olympiads</a> &nbsp <a href="/base/levels/all">Levels</a> 
</head>

<body>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</body>
</html>