{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center;"><span style="color: #33cccc;">Operation successful!!!</span></h1>

<h2 style="text-align: center;">
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣲⣒⠒⠍⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡭⠍⣒⣒⣢⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡿⠛⢻⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⠟⠛⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣷⣴⣡⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣦⣎⣼⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢺⠙⢿⣿⣿⣻⠞⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠻⣿⣿⣿⣷⠟⡷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⠓⠀⠉⠉⠁⠀⠀⠀⠀⠀⠀⠳⠀⠘⠀⠀⠀⠀⠀⠀⠀⠉⠉⠁⠘⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡦⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠜⢳⡺⠵⣶⣒⠢⠤⠤⠤⠤⠤⠤⣤⣤⡤⠤⡒⡦⠤⠤⣤⣶⣶⣾⣿⡊⠁⠱⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⢀⠔⠁⢰⠃⢧⠀⠀⠈⠉⠛⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⣉⡭⠛⠉⠁⠀⠀⡇⢿⠀⠀⠘⣆⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⢠⠏⠀⢠⠇⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠀⠀⠀⠀⠀⢸⠀⠈⢧⠀⠀⢸⡀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⣠⡴⠒⠉⠉⠉⢉⡶⠚⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠑⢦⡈⡧⢤⣀⡀⠀⠀⠀⠀
    ⢀⡾⠁⠀⠀⢀⡴⠊⠁⠀⠀⢠⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⠀⠀⠙⢧⠀⠀⠉⠑⠦⡀⠀
    ⢸⠀⠀⠀⢰⠋⠀⠀⠀⠰⣄⢻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⢀⡠⠊⠀⠀⡜⠀⠀⠀⠀⠀⠙⡄
    ⠘⡆⠀⠀⢸⡀⠀⠀⠀⠀⠈⠻⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡷⠋⠀⠀⠀⢰⠁⠀⠀⠀⠀⠀⠀⢸
    ⠀⠘⢦⡀⠈⢣⠀⠀⠀⠀⠀⠀⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠏⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⣼
    ⠀⠀⠀⠉⠒⠤⢳⡀⠀⠀⠀⠀⢽⡈⠣⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⡶⠁⠀⠀⠀⠀⢠⠟⠦⣄⣀⣀⣀⣀⣠⠔⠁
    ⠀⠀⠀⣀⡤⠤⠴⣷⠀⠀⠀⠀⠀⣇⠀⠈⠑⠢⠤⣄⣀⣀⡀⠀⠀⢀⣀⣀⠤⠔⠚⢉⡜⠁⠀⠀⠀⠀⢠⠏⣠⡀⠐⡌⠙⢿⣉⠀⠀⠀
    ⠀⠀⠀⢷⣷⣀⣴⣋⣧⠀⠀⠀⠀⠸⣲⡤⠤⣄⠀⠀⠀⠀⠀⠈⠀⣀⣀⠀⢀⣀⣠⠮⠄⠀⠀⠀⠀⢠⡯⠞⡗⠡⠤⢼⢄⣩⠼⠀⠀⠀
    ⠀⠀⠀⠀⠉⠁⠘⠲⠼⢦⡀⠀⠀⠀⠀⠀⣄⠀⢉⠍⠱⠖⢲⠖⠙⢄⣀⡽⠟⠒⠒⠀⠀⠀⠀⠀⢰⠏⠀⠀⠛⠒⠒⠋⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⠃⠤⢴⡆⢀⠀⠙⡧⠴⠊⠀⠀⠳⠤⠼⣇⠐⠲⡤⠤⠤⠤⠤⢤⡤⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠒⠚⠈⠓⠒⠛⠁⠀⠀⠀⠀⠀⠀⠀⠉⠓⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</h2>

{%endblock%}