* {
    font-family: sans-serif;
    box-sizing: border-box;
}
th,td {
    font-size: 18px;
    padding: 10px;
}
th {
    background: #555;
    color: #fff;
}
td {
    background: #eee;
}
a {
    text-decoration: none;
    transition: 0.2s ease;
    color:#3f75c5;
}
td:nth-child(6)>a {
    color: #c22c2a;
}
a:hover {
    opacity: 0.7;
}
p {
    font-style: italic;
}
input, textarea, button {
    padding: 10px;
    display: block;
    min-height: 30px;
    width: 250px;
    margin-bottom: 10px;
}
textarea{
    resize: vertical;
    height: 80px;
}
button{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
